/*LEFT COL*/

.leftcontainer {
	float: left;
	width: 30%;
	padding: 20px;
	margin: 20px 20px;
	background-color: red;
	min-height: 10px;
	height: auto;
}

#leftcol {
	vertical-align: baseline;
	padding: 20px;
}

/*RIGHT COL*/

.rightcontainer {
	float:left;
	margin: 20px;
	width: 55%;
	height: 500px;
	padding: 20px;
	background-color: blue;
}

#rightcol {
	vertical-align: baseline;
	padding: 20px;
}