/*PAGE TITLE*/
.pagetitle {
	float: left;
	height: auto;
	width: 100%;
	background-color: none;
	padding: 0 20px;
}

/*LEFT COL*/

.leftcontainer {
	float: left;
	width: 30%;
	padding: 20px;
	margin: 20px;
	height: auto;
}

/*RIGHT COL*/

.rightcontainer {
	float:left;
	margin: 20px;
	width: 55%;
	height: auto;
	padding: 20px;
	background-color: darkgray;
}

#rightcol {
	vertical-align: baseline;
	padding: 0 20px;
}

.imagescale {
	width: 0 auto;
	height: 700px;
	overflow: hidden;
}

#facerel {
	position: relative;
	left: -200px;
	top: -150px;
}