body {
  margin: 0;
}

h1, h2, h3, h4 {
	font-family: times;
}

/*HEADER/NAV*/

a.nav {
	text-decoration: none;
	color: white;
}

nav {
	float: left;
	height: auto;
	width: 100%;
	background-color: black;
}

ul.nav {
	list-style: none;
	padding: 0;
}

li.nav {
	display: inline-block;
	padding: 20px 30px;
	font-family: helvetica;
	outline: 1px solid none;
	font-weight: 100;
}

li.nav:hover {
	background-color: lightgray;
}

/*FOOTER*/

footer {
	clear: both;
	height: 100px;
	width: 100%;
	background-color: black;
}

 .socialicons img {
 	max-width: 4%;
 	float: left;
 	padding: 20px;
 }
